body {
    background-color: #2c2c2e;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
}

.navigation {
    background-color: #333
}

.navigation-bar {
    width: 100%;
    background-color: #111;
}

.navigation ul {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0e0d0d;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li {}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
}

header{
    top: 1;
}

footer{
    
}
